@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

main {
    height: 100%;
    width: 100%;
}

aside {
    background-color: #0799d3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 5;
    transition: .3s;
}

aside.minimized {
    width: 0;
    transition: .3s;
    opacity: 10%;
}

.burger-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 10px;
}

label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: fixed;
}

.bar {
    display: block;
    background-color: #0799d3;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    transition: transform .5s ease-in-out;
}

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
}

.asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
}

.asideAnchor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
}

.asideAnchor:hover {
    color: #0799d3;
}

.asideAnchor:hover::after {
    width: 100%;
}

#myInput {
    z-index: 5;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
    background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
    width: 0;
}

.middle {
    margin: 0 auto;
}

.ua {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #0799d3;
    font-size: 2em;
    z-index: 2;
}

a:visited {
    text-decoration: none !important;
}

.ql-video {
    width: 100%;
    height: 600px;
}

.ql-editor {
    min-height: 400px;
}

a {
    text-decoration: none;
}

.pagination ul {
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: flex;
    list-style: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    color: #0077FF
}

.pagination li {
    padding: 5px;
    cursor: pointer;
    display: flex;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-width: 50px;
}

.pagination li a {
    margin: auto;
}

.pagination .previous {
    background-color: #1976d2;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
}

.pagination .next {
    background-color: #1976d2;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
}
.pagination .selected {
    background-color: #bedcf7;
}
